@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Pixelify+Sans&family=Roboto:wght@300;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  background: rgb(39, 80, 80);
  background: linear-gradient(
    90deg,
    rgb(48, 55, 63) 8%,
    rgb(39, 80, 80) 50%,
    rgb(48, 55, 63) 92%
  );
  animation: blink .3s;
}

h1 {
  margin: 50px auto;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: -1px 1px 3px black;
}

p {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  color: white;
  text-shadow: -1px 1px 3px black;
}

.btn-container {
  margin-bottom: 50px;
}

.btn-container button {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-family: "Pixelify Sans", cursive;
  font-size: 40px;
  font-weight: bold;
  color: #0ff;
  text-shadow: 2px 2px 1px black;
  cursor: pointer;
  transition: .4s ease;
}

.btn-container button:hover {
  text-shadow: 1px 1px 10px #0ff;
  color: black;
}

table {
  border-collapse: collapse;
}

tr {
  cursor: pointer;
  text-align: center;
}

td {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 60px;
  height: 150px;
  width: 150px;
  border: 6px solid white;
  color: #0ff;
  text-shadow: 2px 2px 1px black;
  animation: blink .5s;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

#game-container{
  padding: 10px;
}

.popup-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.849);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: #0ff;
  border-radius: 10px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  animation: blink 0.2s linear;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  border: 0;
  border-radius: 10px;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  transform: 0.4s;
  opacity: 0.9;
}

.popup button:hover {
  opacity: 1;
  font-weight: 700;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 550px) {
body {
  background: linear-gradient(
    90deg,
    rgb(48, 55, 63) 2%,
    rgb(39, 80, 80) 50%,
    rgb(48, 55, 63) 98%
  );
}

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 18px;
  }

  .btn-container button {
    font-size: 30px;
  }

  td {
    height: 130px;
    width: 130px;
  }
}

