@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(39, 80, 80);
  font-family: "Roboto", sans-serif;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  border-radius: 15px;
  width: fit-content;
  background-color: rgb(48, 55, 63);
  padding: 10px;
  animation: blink 0.2s linear;
  box-shadow: 1px 1px 20px 10px rgb(48, 55, 63);
}

.game-container p {
  position: absolute;
  font-family: "Pixelify Sans", sans-serif;
  color: white;
  text-shadow: 3px 1px 3px black;
  font-size: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.button-container button {
  text-transform: uppercase;
  font-size: 15px;
  margin: 5px;
  padding: 20px 25px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  color: black;
  border: none;
  text-shadow: -1px 1px 2px white;
  background-color: #0ff;
  transition: 0.2s;
}

.button-container button:hover {
  box-shadow: 1px 1px 5px 5px #0ff;
  opacity: 0.9;
  color: black;
  text-shadow: -1px 1px 2px white;
}

#restart-game {
  display: none;
}

#direction-btn-container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  width: fit-content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.up {
  font-size: 30px;
  text-align: center;
  width: 60px;
  height: 60px;
  margin: 8px;
  grid-column-start: 2;
  border-radius: 10px;
  border: none;
  text-shadow: -1px 1px 2px white;
  background-color: #0ff;
}

.left,
.right,
.down {
  font-size: 30px;
  text-align: center;
  width: 60px;
  height: 60px;
  margin: 8px;
  grid-row-start: 2;
  border-radius: 10px;
  border: none;
  text-shadow: -1px 1px 2px white;
  background-color: #0ff;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
