@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(39, 80, 80);
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  margin: 20px;
  font-family: "Satisfy", cursive;
  color: white;
  text-shadow: -1px 1px 3px black;
}

.map-container {
  font-family: "Satisfy", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 20px;
  width: fit-content;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  background-color: rgb(48, 55, 63);
  animation: blink 0.3s linear;
}

.hint-container {
  margin: 20px;
}

#distance, #clicks {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted white;
  border-radius: 10px;
  width: 120px;
  height: 60px;
  margin: 10px;
  font-weight: 700;
  font-size: 18px;
  animation: blink 0.3s linear;
}

#distance.red {
  color: red;
  text-shadow: 0px 0px 5px red;
}

#distance.orange {
  color: orange;
  text-shadow: 0px 0px 5px orange;
}

#distance.blue {
  color: #0ff;
  text-shadow: 0px 0px 5px #0ff;
}

@media (max-width: 585px){
  .map-container {
    flex-direction: column-reverse;
    padding: 5px 10px;
  }

  .hint-container{
    margin: 5px 0;
  }

  br {
    display: none;
  }

  img {
    width: 350px;
    height: 400px;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}