@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto:wght@400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(39, 80, 80);
}

section {
    position: relative;
}

h1 {
    position: absolute;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 25px;
    white-space: nowrap;
    color: white;
    text-shadow: 3px 1px 3px black;
}


#blob { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 150px;
    height: 150px;
    background-color: #0ff;
    border-radius: 45% 56% 72% 28% / 42% 42% 56% 48%;
    animation: morph 3.75s linear infinite;
    box-shadow: 10px 10px 40px 15px #0ff;
}

@keyframes morph {
    0%, 100% {
        border-radius: 45% 56% 72% 28% / 42% 42% 56% 48%;
    }

    33% {
       border-radius:72% 28% 48% 48% / 28% 28% 72% 72%;
    }

    66% {
        border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
    }
}