@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contents-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 20px;
  background-color: rgb(48, 55, 63);
  padding: 10px;
  animation: blink 0.2s linear;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background: url("./fruits.png");
  background-size: cover;
  background-color: rgb(39, 80, 80);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 1px;
  margin: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 10px;
  text-shadow: -1px 1px 3px black;
}

header p {
  font-family: "Pixelify Sans", sans-serif;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px white;
  animation: blink 2s linear infinite;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  width: 60vw;
}

.hang {
  fill: transparent;
  stroke: white;
  stroke-width: 4px;
  stroke-linecap: round;

  animation: blink 0.2s linear;
}

.body {
  display: none;
  animation: blink 0.1s linear;
}

.wrongGuess-container {
  justify-self: end;
  width: 100%;
  font-size: 32px;
  color: red;
  text-decoration: line-through;
  animation: blink 0.2s linear;
}

.secretWord-container {
  font-size: 45px;
  color: white;
  padding: 5px;
  animation: blink 0.2s linear;
}

.warning {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -55px;
  transition: transform 0.3s ease-in-out;
}

.warning.show {
  transform: translateY(-50px);
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.849);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: #0ff;
  border-radius: 10px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  animation: blink 0.2s linear;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  border: 0;
  border-radius: 10px;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  transform: 0.4s;
  opacity: 0.9;
}

.popup button:hover {
  opacity: 1;
  font-weight: 700;
}

#keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#keyboard p {
  font-size: 20px;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 3px;
  border-radius: 10px;
  border: none;
  text-shadow: -1px 1px 2px white;
  background-color: #0ff;
  cursor: pointer;
}

#keyboard p:hover {
  box-shadow: 1px 1px 5px 5px #0ff;
  opacity: 0.9;
  color: black;
  text-shadow: -1px 1px 2px white;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 360px) {
  header {
    margin: 30px 5px;
    width: 100vw;
  }

  header h3 {
    font-size: 25px;
  }

  header p {
    font-size: 13px;
  }
}
